# If you have your own Hopsworks cluster, set is IP address or FQDN here
#HOPSWORKS_HOST=
# If you have multiple Hopsworks projects, set the name of your project here
#HOPSWORKS_PROJECT=

HOPSWORKS_API_KEY=
AQICN_API_KEY=

# Update these values to the sensor you are interested in
# If you don't change them, it should work so long as you have set the AQICN_API_KEY
AQICN_URL=https://api.waqi.info/feed/@10009
AQICN_COUNTRY=sweden
AQICN_CITY=stockholm
AQICN_STREET=hornsgatan-108

HOPSWORKS_API_KEY=vKzoX6Ops9ReKLR8.SrjWKVoxxzggv3e4FB36Kp1lGc3Gqh18Uoo5q53vSgjiBWHh40wNqVQrdgZFPEkT
AQICN_API_KEY=1b6ceb4a9cc6e67520e5c3b71819c5f335dfedd9
OLD_AQICN_URL=https://api.waqi.info/feed/@10009
AQICN_URL=https://api.waqi.info/feed/@3900
AQICN_COUNTRY=California
AQICN_CITY=San Francisco
AQICN_STREET=San Francisco-Arkansas Street


# Streaming in Credit Card Example
FELDERA_API_KEY=<Feldera API KEY VALUE>
# Clone feldera from github and store it in this directory
FELDERA_DIR=</home/$USER/feldera>

# LLM Examples
OPENAI_API_KEY=<OPENAI API KEY VALUE>

