# Feature store and model registry
hsfs==3.7.0rc5
hopsworks==3.7.0rc1

# Resolve city names from (longitude, latitude) coordinates
geopy

# Read weather data
openmeteo-requests

# Be more efficient when making REST (Http) requests
requests-cache
retry-requests

# ML framework libraries
xgboost
scikit-learn

# Plot charts
matplotlib

