# Feature store and model registry
hsfs==3.7.0rc8
hopsworks==3.7.0rc1

# Resolve city names from (longitude, latitude) coordinates
geopy

# Read weather data
openmeteo-requests

# Be more efficient when making REST (Http) requests
requests-cache
retry-requests

# ML framework libraries
xgboost
scikit-learn

# Plot charts
matplotlib

# LLM libraries
transformers==4.38.2
sentencepiece==0.2.0
langchain==0.1.11
accelerate==0.28.0
bitsandbytes==0.43.0
